<script type="x/template" id="vue-wish-list-count">
    <a href="{{ urls.wishList }}" rel="nofollow">
        <span class="pl-material" :class="{'pl-outline-favorite_border': !wishListCount, 'pl-outline-favorite': wishListCount}" ></span>
        <span class="badge-right">${wishListCount}</span>
    </a>
</script>