<script type="x/template" id="vue-variation-select">
    <div>
        <div class="col-xs-12 col-md-6 col-lg-8 variation-button" >

            <div v-for="(attribute, attributeId) in attributes">
                <span class="row variation-headline">${ attribute.name } w&auml;hlen </span>
                <div class="row variation-buttons" v-if="attributeId==9">
                    <div v-for="(attributeValue, attributeValueId) in attribute.values" class="variation-button-context colorselect">
                        <input type="radio" class="variation-input-button"
                               :id="attributeValueId" :value="attributeValueId" :name="attribute.name"
                               v-model="selectedAttributes[attributeId]" :disabled="!isEnabled(attributeId, attributeValueId)"
                               @change="onSelectionChange(selectedAttributes[attributeId])">
                        <label class="btn btn-primary" :for="attributeValueId">
                        <div class="indicator">
                        <img class="colorimg" :for="attributeValueId" :src="'https://www.prestije.de/images/produkte/grp/attr_'+attributeValueId+'.jpg'">
                        </div>
                        <br>${ attributeValue }</label>
                    </div>
                </div>
                <div class="row variation-buttons" v-else>
                    <div v-for="(attributeValue, attributeValueId) in attribute.values" class="variation-button-context boxselect">
                        <input type="radio" class="variation-input-button"
                               :id="attributeValueId" :value="attributeValueId" :name="attribute.name"
                               v-model="selectedAttributes[attributeId]" :disabled="!isEnabled(attributeId, attributeValueId)"
                               @change="onSelectionChange(selectedAttributes[attributeId])">
                        <label class="btn btn-primary" :for="attributeValueId">${ attributeValue }</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>