.square-container{
    padding-bottom: 150%;
}
#single-carousel .owl-item img {
    height: 100%;
    max-width: 100%;
}
.footer .widget-text .widget-inner{
    padding: 0;
}

/* Content Pages */
.storeberlin{
    margin: -1rem -1.5rem;
}
.storeberlin img{
    max-width: 100%;
}
ul.slogoinfo{
    list-style: none;
}
ul.slogoinfo > li {
    padding-bottom:10px;
}
ul.slogoinfo > li:before {
    content: '✓';
    padding-right: 5px;
}
.pl-line:after{
    content:"";
    position:absolute;
    width:2px;
    height:95px;
    background-color:#000;
    top:50%;
    right:60px;
    margin-top:-47px;
}
.pl-spec-cont-contact{
    border:1px solid #dbdbdb;
    color:#000;
    padding:0;
}
.pl-spec-cont-contact > .row{
    padding:27px 60px 22px;
}
.pl-spec-cont-contact dl{
    margin-bottom:0;
}
.pl-spec-cont-contact dt {
    float: left;
    margin-right: 0.5em;
    min-width:80px;
}
.pl-spec-cont-contact dt:after {
    content: "";
}
.pl-spec-cont-contact dd:after {
    content: " ";
    clear: left;
    display: block;
}
hr.horizontal-break {
    width: 100px;
    margin: 20px auto 20px 0;
    height: 3px;
    background: #000;
    border: none;
}