.square-container{
    padding-bottom: 150%;
}
#single-carousel .owl-item img {
    height: 100%;
    max-width: 100%;
}
.footer .widget-text .widget-inner{
    padding: 0;
}

.cmp-product-thumb .vat, .cmp-product-thumb .vat-porto-info,
.cmp-product-thumb .category-list-view-port{
  display: none;
}
@media (min-width: 544px){
  .cmp-product-thumb .thumb-content{
    display: flex;
  }
  .cmp-product-thumb .thumb-meta{
    flex: 1 1 20%;
    margin: 0;
  }
  .cmp-product-thumb .prices{
    justify-content: flex-end;
    text-align: right;
  }
  .cmp-product-thumb .price,
  .cmp-product-thumb .crossprice{
    font-size: 0.9rem;
    width: 100%;
  }
  .cmp-product-thumb .price-view-port{
    margin-right: 0;
    line-height: 1.2rem;
  }
  .cmp-product-thumb .thumb-title{
      text-align: left;
      font-size: 0.9rem;
      line-height: 1.2em;
      min-height: 38px;
      margin-bottom: 0;
      margin-right: 10px;
  }
}

/* Content Pages */
.storeberlin{
    margin: -1rem -1.5rem;
}
.storeberlin img{
    max-width: 100%;
}
ul.slogoinfo{
    list-style: none;
}
ul.slogoinfo > li {
    padding-bottom:10px;
}
ul.slogoinfo > li:before {
    content: '✓';
    padding-right: 5px;
}
.pl-line:after{
    content:"";
    position:absolute;
    width:2px;
    height:95px;
    background-color:#000;
    top:50%;
    right:60px;
    margin-top:-47px;
}
.pl-spec-cont-contact{
    border:1px solid #dbdbdb;
    color:#000;
    padding:0;
}
.pl-spec-cont-contact > .row{
    padding:27px 60px 22px;
}
.pl-spec-cont-contact dl{
    margin-bottom:0;
}
.pl-spec-cont-contact dt {
    float: left;
    margin-right: 0.5em;
    min-width:80px;
}
.pl-spec-cont-contact dt:after {
    content: "";
}
.pl-spec-cont-contact dd:after {
    content: " ";
    clear: left;
    display: block;
}
hr.horizontal-break {
    width: 100px;
    margin: 20px auto 20px 0;
    height: 3px;
    background: #000;
    border: none;
}