/* Loader */
.lds-ellipsis {
  display: block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #ddd;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}


.categoriegrid .cmp.cmp-paginator{
    display: none;
}

.square-container{
    padding-bottom: 150%;
}
#single-carousel .owl-item img {
    height: 100%;
    max-width: 100%;
}
.footer .widget-text .widget-inner{
    padding: 0;
}

.cmp-product-thumb .vat, .cmp-product-thumb .vat-porto-info,
.cmp-product-thumb .category-list-view-port{
  display: none;
}
@media (min-width: 576px){
  .cmp-product-thumb .thumb-content{
    display: flex;
  }
  .cmp-product-thumb .thumb-meta{
    flex: 1 1 40%;
    margin: 0;
  }
  .cmp-product-thumb .prices{
    justify-content: flex-end;
    text-align: right;
  }
  .cmp-product-thumb .price,
  .cmp-product-thumb .crossprice{
    font-size: 0.9rem;
    width: 100%;
  }
  .cmp-product-thumb .price-view-port{
    margin-right: 0;
    line-height: 1.2rem;
  }
  .cmp-product-thumb .thumb-title{
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.2em;
    min-height: 38px;
    margin-bottom: 0;
    margin-right: 10px;
  }
}
@media (max-width: 575.98px){
  .widget-item-list .widget-inner>.row>.col-12, .product-list>.col-12 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 330px){
  .widget-item-list .widget-inner>.row>.col-12, .product-list>.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.fvideo-open-button{
    position: absolute;
    top: 15px;
    right: 35px;
    z-index: 99;
    color: #fff !important;
    background-color: #d65957;
    padding: 8px 8px;
    padding: 0 8px;
    line-height: 36px;
}
.fvideo-open-button i{
    position: relative;
    top: 2px;
    font-size: 1.4rem;
    margin-right: 5px;

}
.video-modal .modal-dialog{
    width: 90%;
    max-width: 1200px;
}
.video-modal .video-popup-video{
    width: 100%;
    max-height: 85vh;
}
@media (max-width: 767px){
    .fvideo-open-button{
        line-height: 32px;
        border-radius: 50%;
    }
    .fvideo-open-button i{
        margin-right: 0;
    }
    .fvideo-open-button .text{
        display: none;
    }
}

/* Header */
.top-bar .before-header.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar-toggler{
  position: relative;
  transform: none;
  top: 0;
}
.navbar-toggler .pl-baseline-search{
  padding-left: 10px;
}
.top-bar .controls-list .control-user{
  flex: initial;
  margin-left: 0;
}
.top-bar .controls-list .control-wish-list a{
  padding-right: 0.6rem !important;
}
.top-bar .before-header{
  border-bottom-style: solid;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
}
.wrapper-main .navbar a{
  font-size: 0.86rem;
}
.header-bottom-line{
  font-size: 0.8rem;
}
.top-bar .controls-list i.flag-icon{
  font-size: 1rem !important;
  vertical-align: baseline;
}
.top-bar .controls-list>li .pl-material{
  font-size: 1.8rem;
  vertical-align: middle;
}
.header-bottom-line{
  background-color: #f3f3f3;
  text-transform: uppercase;
  color: #000;
}
.header-bottom-line .row{
  height: 55px;
}
.header-bottom-line .main-text-list .padding-item{
  padding: 0 17px;
}
.wrapper-main .navbar{
  padding-left: 15px;
  padding-top: 0;
}
.top-bar .site-logo{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: inline-block;
  width: 160px;
}
.top-bar .site-logo .navbar-brand img{
  max-width: 160px;
}
.top-bar .controls-list .control-basket .toggle-basket-preview .badge {
  margin-left: 0;
}
.top-bar .controls-list>li a:not(.btn){
  color: #000 !important;
}
.top-bar .controls-list>li:not(.control-languages) a:not(.btn){
  line-height: 1;
}
.control-basket .badge-right{
  font-size: inherit;
  color: #000;
  background-color: transparent;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
}
.top-bar .controls-list .control-wish-list a .badge-right{
  margin-right: 0;
}
.navbar-brand{
  padding: 0;
  margin: 0;
}
@media (min-width: 1200px){
  .header-bottom-line{
    font-size: 0.86rem;
  }
  .header-bottom-line
  .wrapper-main #page-header .container-max{
    max-width: 100%;
    padding: 0 15px;
  }
  .top-bar .controls-list>li a:not(.btn){
    padding: 5px 20px;
  }
  .top-bar .controls-list>li.control-languages{
    padding-left: 25px;
  }
  .searchCol .search-input{
    width: auto;
    flex: 1 0 auto;
    border-radius: 4px;
  }
  .searchCol .search-submit{
    position: relative;
    top: 0 !important;
    right: 0;
    left: 0;
    width: auto;
    background-color: #000;
    color: #fff !important;
    font-size: inherit !important;
    padding: 0 15px;
    margin-left: 10px;
    border-radius: 2px;
    cursor: pointer;
  }
  .searchCol .search-submit:after{
    content: 'SUCHE';
  }
  .searchCol .search-submit > span{
    display: none;
  }
}
@media (min-width: 992px){
  #mainNavbarCollapsable {
    width: auto;
    padding: 0;
  }
}
@media (max-width: 991px){
  .top-bar .controls-list i.flag-icon{
    font-size: 1.2rem !important;
  }
  .navbar-toggler{
    left: 0;
    padding-right: 5px;
    padding-left: 0;
    font-size: 1.8rem;
  }
}
@media (max-width: 500px){
  .top-bar .site-logo{
    width: 120px;
  }
  .top-bar .site-logo .navbar-brand img{
    max-width: 120px;
    padding-bottom: 5px;
  }
  .top-bar .controls-list>li a:not(.btn),
  .top-bar .controls-list .control-wish-list a{
    padding-left: 2px;
    padding-right: 2px;
  }
  .navbar-toggler .pl-baseline-search{
    padding-left: 0;
  }
  .navbar-toggler{
    padding-right: 0;
  }
}
@media (max-width: 400px){
  .top-bar .site-logo{
    width: 90px;
  }
  .top-bar .site-logo .navbar-brand img{
    max-width: 90px;
  }
}
.mobile-navigation .mobile-search{
  padding: 2rem 1rem;
  font-size: 1rem;
}
.mobile-search.searchCol .search-submit{
  top: 0px;
}
.searchCol .search-submit{
  color: #000;
  font-size: 1.8rem;
  top: -1px;
}

/* Basket */
.basket-item-container .basket-item .image-container{
  max-height: 100px;
}
.basket-item-container .basket-item .meta-container-wrapper .meta-container-wrapper-inner{
  flex-wrap: wrap;
}
.basket-item-container .basket-item .meta-container-wrapper .meta-container-wrapper-inner .meta-container{
  order: 100;
}

/* Content Pages */
.storeberlin{
    margin: 1rem -1.5rem -1rem;
}
.storeberlin img{
    max-width: 100%;
}
.storeberlin p{
    font-size: 1.15rem;
    margin-bottom: 10px;
    line-height: 1.5;
}
ul.slogoinfo{
    list-style: none;
}
ul.slogoinfo > li {
    padding-bottom:10px;
}
ul.slogoinfo > li:before {
    content: '✓';
    padding-right: 5px;
}
.pl-line:after{
    content:"";
    position:absolute;
    width:2px;
    height:95px;
    background-color:#000;
    top:50%;
    right:60px;
    margin-top:-47px;
}
.pl-spec-cont-contact{
    border:1px solid #dbdbdb;
    color:#000;
    padding:0;
}
.pl-spec-cont-contact > .row{
    padding:27px 60px 22px;
}
.pl-spec-cont-contact dl{
    margin-bottom:0;
}
.pl-spec-cont-contact dt,
.pl-spec-cont-contact dd {
    font-weight: bold;
}
.pl-spec-cont-contact dt {
    float: left;
    margin-right: 0.5em;
    min-width:80px;
}
.pl-spec-cont-contact dt:after {
    content: "";
}
.pl-spec-cont-contact dd:after {
    content: " ";
    clear: left;
    display: block;
}
hr.horizontal-break {
    width: 100px;
    margin: 20px auto 20px 0;
    height: 3px;
    background: #000;
    border: none;
}
.storeberlin .top-title .h3{
    font-size: 1.75rem;
}
.pl-spec-cont-text {
    padding: 0 35px;
    color: #787878;
}
.pl-spec-cont-text .h3{
    font-size: 1.75rem;
    margin-top: 10px;
    line-height: 1.3;
    letter-spacing: 0px;
    color: #000;
}
.single-item-parallax{
    background-image: url(https://cdn02.plentymarkets.com/xwabny83qo93/frontend/plentylions/legend/prestije_mode.jpeg);
}
